.parent {
    background-color: aquamarine;
    width: 400px;
    height: 200px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
}

 :root {
    --mastercolor: #eee;
}

.one {
    background-color: var(--mastercolor);
    width: 50%;
    height: 100%;
}

.two {
    background-color: blueviolet;
    width: 50%;
    height: 100%;
}

.parent .one,
.parent .two {
    float: left;
}

.up {
    background-color: brown;
    height: 50%;
}

.down {
    background-color: burlywood;
    height: 50%;
}

.flex {
    display: flex;
    width: 600px;
    margin: 20px auto;
    /* padding: 20px; */
    background-color: #eee;
    justify-content: space-between;
}

.flex div {
    background-color: grey;
    padding: 20px;
    color: white;
    text-align: center;
    width: calc(90%/3);
}

.center {
    background-color: grey;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    margin: auto;
}

img:hover {
    filter: blur(0);
    -webkit-filter: blur(0);
}

img {
    transition-duration: 3s;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    width: 400px;
    height: 400px;
}


/* div {
        width: 200px;
        height: 200px;
        background-color: rgb(214, 212, 212);
        margin: 20px auto;
        box-shadow: 0 0 10px 0 black inset;
    } */


/* .one {
        width: 50%;
        height: 50%;
        background-color: grey;
        transition-delay: 2s;
        transition-duration: 1s;
        transition-timing-function: ease;
    }
    
    .two {
        background-color: grey !important;
        width: 20%;
        height: 20%;
    }
    
    .one:hover {
        width: 75%;
        background-color: blue;
    } */